*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #eceff1;
}

button{
    padding: 0.5em;
    text-transform: uppercase;
}

.canvasWrapper{
    width: 50%;
    padding: 32px
}

#renderCanvas{
    width: 100%;
    outline: 1px dashed #b0bec5;
}

.controlsWrapper{
    padding: 32px;
}

@media only screen and (orientation: portrait) {
    body{
        display: block;
    }
    .canvasWrapper {
        width: 100%;
    }
}