/* ---------- GENERAL ---------- */

html {
    box-sizing: border-box;
    color: #2D2F30;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    background: none;
    font-size: 1em;
    line-height:1;
}
body {
 min-width: 380px;
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-weight: normal;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
::selection {
    background: #ffd600
}

/* ---------- TEXT ---------- */

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.125em;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
}
h3,label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
.dark-text {
    color: #2D2F30;
}
.light-text {
    color: #FFFFFF;
}
/* ---------- BUTTONS ---------- */

.button{
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.125em; 
    text-align: center;
    cursor: pointer;
}
.outline-button {
    height: 40px;
    line-height: 42px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    backdrop-filter: blur(20px);
    border: 1px solid;
    border-color: inherit;
    border-radius: 2px;
    color: inherit;
    transition: color 0.25s, background-color 0.25s;
    overflow: hidden;
}
.dark-button {
    color: #2D2F30;
    border-color: #2D2F30;
}
.light-button {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
.dark-button:hover {
    color: #FFFFFF;
    background-color: #2D2F30;
}
.light-button:hover {
    color: #2D2F30;
    background-color: #FFFFFF;
}
.dark-button:disabled {
    color: #BBC1C5;
    background-color: #E1E6E9;
    border-color: #E1E6E9;
    cursor: auto;
}

/* ---------- NAVIGATION ---------- */

nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 1px 0px 0px #E1E6E9;
    z-index: 1;
}
.nav-container {
    display: flex;
    align-items: center;
    flex-grow:1;
    flex-basis:0;
}
#nav-tabs {
    width: 100%;
    display: flex;
    position: static;
    justify-content: left;
    padding-left: 30px;
    gap: 20px;
}
.nav-closed{
    left: -100%;
}
.nav-open{
    left: 0px;
}
#nav-tabs a {
    padding-top: 34px;
    height: 80px;
    transition: box-shadow 0.25s;
}
#nav-tabs a:hover {
    box-shadow: 0px 1px 0px 0px #2D2F30;
}
.active-tab {
    border-bottom: 2px solid #2D2F30;
    box-shadow: 0px 1px 0px 0px #2D2F30;
}
.nav-title {
    width: 100%;
    padding-top: 4px;
    display: flex;
    justify-content: center;
}
.nav-social {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 30px;
    gap: 10px;
}
.nav-social img {
    width: 32px;
    height: 32px;
    fill: #2D2F30;
    border-radius: 2px;
}

/* ---------- HAMBURGER ICON ---------- */

.nav-button {
    display:none;
    flex-direction:column;
    margin-left: 20px;
    cursor:pointer;
}
.nav-button span{
    width:23px;
    background-color: #2D2F30;
    border-radius:2px;
    height:2px;
    margin: 3px 0;
    transition: all 0.25s;
}
#hamburger:checked ~ span:nth-of-type(1){
    transform-origin: left top;
    transform: rotateZ(45deg);
}
#hamburger:checked ~ span:nth-of-type(2){
    background-color: rgba(255, 255, 255, 0);
}
#hamburger:checked ~ span:nth-of-type(3){
    transform-origin: left bottom;
    transform: rotateZ(-45deg);
}
#hamburger {
    display: none;
}

/* ---------- RORJECTS GRID ---------- */

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
    padding-top: 80px;
}
.projects-grid > [style^='--aspect-ratio']::before {
    content: "";
    display: inline-block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}
.project-card {
    position: relative;
    width: 100%;
    background-size: cover;
}
.card-content {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 80px;
}

/* ---------- DETAILS ---------- */

.details-container {
    padding-top: 120px;
    padding-right: 480px;
    padding-bottom: 0px;
    margin-left: 240px;
    margin-right: 240px;
}
.details-header, .details-visual{
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
}
.details-description {
    position: fixed;
    width: 400px;
    top: 120px;
    right: 280px;
}

/* ---------- ABOUT ---------- */

.about-container {
    margin-left: 240px;
    margin-right: 240px;
    padding-top: 120px;
    min-height: calc(100vh - 60px);
}
.about-photo {
    width: 480px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 2px;
    float: left;
}
.about-details {
    display: flex;
    width: calc(100% - 480px);
    float: right;
    height: 480px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: flex-end;
}
.about-text{
    position: relative;
}
.about-text img{
    position: absolute;
    width: 240px;
    height: 120px;
    top: -140px;
    left: -120px;
}

/* ---------- CONTACT ---------- */

.contact-container {
    padding-top: 80px;
}
.contact-background {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 140px);
    width: 100%;
    background-size: cover;
    background-color: #2D2F30;
}
.contact-form {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 800px;
    padding: 60px  80px 60px 80px;
    border-radius: 2px;
    overflow: hidden;
}
.form-elements fieldset {
    margin-top: 20px;
}
.name-input{
    float: left;
    width: 50%;
    padding-right: 20px;
}
.email-input{
    float: left;
    width: 50%;
    padding-left: 20px;
}
.message-input{
    width: 100%;
    float: left;
}
.text-box {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    margin-top: 8px;
    padding: 12px 16px 8px 16px;
    border: 1px solid #BBC1C5;
    border-radius: 2px;
    background-color: #F8FAFB;
    resize: none;
    outline: none;
}
.text-box::placeholder {
    color: #BBC1C5;
}
.text-box:focus {
    border-color: #2D2F30;
}
.area-text{
    min-height: 140px;
}

/* ---------- CONSENT CHECKBOX ---------- */

.consent-input{
    min-height: 24px;
    width: 100%;
    float: left;
    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 12px;
    display: flex;
    position: relative;
    padding-top: 4px;
    padding-left: 40px;
    cursor: pointer;
}
.consent-input input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid #BBC1C5;
    border-radius: 2px;
    background-color: #F8FAFB;
}
.consent-input input:checked ~ .checkmark {
    background-color: #2D2F30;
    border-color: #2D2F30;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.consent-input input:checked ~ .checkmark:after {
    display: block;
}
.consent-input .checkmark:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* ---------- FOOTER ---------- */

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E1E6E9;
}

/* ---------- BRAKEPOINT 1440---------- */

@media only screen and (max-width: 1440px){
    .details-container {
        margin-left: 120px;
        margin-right: 120px;
    }
    .details-description {
        right: 160px;
    }
    .about-container {
        margin-left: 120px;
        margin-right: 120px;
    }
}

/* ---------- BRAKEPOINT 1200---------- */

@media only screen and (max-width: 1200px){
    .projects-grid {
        grid-template-columns: 1fr;
    }
    .details-container {
        padding-top: 80px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .details-header{
        border-radius: 0px;
    }
    .details-body{
        padding-left: 120px;
        padding-right: 120px;
    }
    .details-description {
        padding-top: 20px;
        padding-bottom: 40px;
        position: static;
        width: 100%;
    }
    .about-details {
        display: block;
        height: auto;
        margin-bottom: 40px;
    }
    .about-text{
        position: static;
    }
    .about-text img{
        position: static;
        width: 120px;
        height: 60px;
        margin-top: 40px;
    }    
}

/* ---------- BRAKEPOINT 960 ---------- */

@media only screen and (max-width: 960px){
    h1{
        font-size: 16px;
    }
    nav{
        height: 60px;
    }
    .nav-button{
        display:flex;
    }
    #nav-tabs {
        position: absolute;
        flex-direction: column;
        gap: 0px;
        height: 100vh;
        top: 0px;
        background-color: #FFFFFF;
        padding-top: 80px;
        z-index: -1;
        transition: 0.25s;
    }
    .nav-social {
        padding-right: 20px;
    }
    .nav-social img {
        width: 24px;
        height: 24px;
    }
    .projects-grid {
        padding-top: 60px;
    }
    .details-container {
        padding-top: 60px;
    }
    .details-body{
        padding-left: 60px;
        padding-right: 60px;
    }
    .about-container {
        padding-top: 100px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .about-photo {
        width: 240px;
    }
    .about-container {
        margin-left: 60px;
        margin-right: 60px;
    }
    .about-details {
        width: 100%;
        float: left;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact-container {
        padding-top: 60px;
    }
    .contact-background {
        min-height: calc(100vh - 120px);
        align-items:flex-start;
    }
    .contact-form {
        min-height: calc(100vh - 120px);
        max-width: 100%;
        border-radius: 0px;
        padding-left: 120px;
        padding-right: 120px;
    }
}

/* ---------- BRAKEPOINT 720 ---------- */

@media only screen and (max-width: 720px){
    .card-content {
        padding: 60px;
    }
    .contact-form {
        padding: 40px  60px 40px 60px;
    }
    .name-input{
        width: 100%;
        padding-right: 0px;
    }
    .email-input{
        width: 100%;
        padding-left: 0px;
    }
}


/* ---------- BRAKEPOINT 480 ---------- */

@media only screen and (max-width: 480px){
    .outline-button{
        width: 100%;
    }
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    .card-content {
        padding: 30px;
    }
    .details-body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-container {
        padding-top: 60px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .about-photo {
        width: 100%;
        border-radius: 0px;
    }
    .about-text {
        padding-left: 30px;
        padding-right: 30px;
    }
    .about-text img{
        margin-left: auto;
        margin-right: auto;
    }
    .contact-form {
        padding-left: 30px;
        padding-right: 30px;
    }
}