*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 320px;
    font-family: 'Poppins', sans-serif;
    color: #37474f;
    font-size: 16px;
    font-weight: 200;
}
header{
    width: 100%;
    min-width: 320px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Search Input ----------------------------------------*/
.search-container{
    width: 460px;
}
.city-search{
    border: none;
    outline: none;
    position: relative;
    width: 100%;
    height: 36px;
    padding: 0px 0px 0px 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #37474f;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    transition: all 250ms;
}
.city-search::placeholder{
    color: #fff;
}
.city-search:focus{
    background-color: rgba(255, 255, 255, 1);
}
/* Search List ----------------------------------------*/
.cities-list{
    position: absolute;
    list-style: none;
    color: #37474f;
    background-color: #fff;
    border-radius: 4px;
    z-index: 1;
}
.cities-list li{
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
}
.cities-list li:first-child{
    margin-top: 4px;
}
.cities-list li:last-child{
    margin-bottom: 4px;
}
.cities-list li:hover{
    background-color: #eceff1;
}
/* Unit Toggle ----------------------------------------*/
.unit-toggle{
    display: flex;
    height: 36px;
    line-height: 38px;
    margin: 0px 0px 0px 12px;
}
.unit-toggle input{
display: none;
}
.unit-toggle label{
    display: block;
    width: 36px;
    font-weight: 400;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 250ms;
}
.unit-toggle label:first-of-type{
    padding: 0px 0px 0px 7px;
    border-radius: 4px 0px 0px 4px;
}
.unit-toggle label:last-of-type{
    padding: 0px 0px 0px 8px;
    border-radius: 0px 4px 4px 0px;
}
.unit-toggle input:checked + label{
    background-color: #fff;
    color: #37474f;
}

.dashboard-top{
    padding-top: 60px;
    background: linear-gradient(#ef6c00, #c43e00);
}
/* Now Container ----------------------------------------*/
.current-date{
    width: 100%;
    line-height: 60px;
    color:rgba(0, 0, 0, 0.4);
    font-weight: 300;
    text-align: center;
}
.now-container{
    display: flex;
    justify-content: center;
    color: #fff;
}
.current-wrapper{
    padding-right: 12px;
}
.current-temp{
    display: flex;
}
.current-temp-value{
    font-size: 60px;
    font-weight: 300;
    line-height: 76px;
}
.current-temp-unit{
    font-size: 24px;
    line-height: 48px;
}
.current-container{
    line-height: 24px;
    font-size: 14px;
}
.current-feels_like-value{
    font-weight: 500;
}
.current-humidity-value{
    font-weight: 500;
}
.current-wind-value{
    font-weight: 500;
}
.current-condition{
    text-transform: capitalize;
    padding-left: 12px;
    text-align: center;
    height: 124px;
}
.current-condition-image-wrapper{
    height: 124px;
}
.current-condition-image{
    height: 124px;
}
.current-condition-text{
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}
/* Chart ----------------------------------------*/
.chart-container{
    padding-top: 24px;
    overflow-x: auto;
}
.chart-wrapper{
    width: 100%;
    height: 220px;
    min-width: 1280px;
}
/* Cards ----------------------------------------*/
.dashboard-bottom{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    column-gap: 12px;
    row-gap: 12px;
}
.daily-card{
    padding: 12px;
    background: linear-gradient(#ef6c00, #c43e00);
    border-radius: 4px;
}
.daily-date{
    width: 100%;
    line-height: 24px;
    color:rgba(0, 0, 0, 0.4);
    font-weight: 300;
    text-align: center;
}
.daily-condition{
    width: 100%;
    text-transform: capitalize;
    text-align: center;
}
.daily-condition-image-wrapper{
    height: 84px;
}
.daily-condition-image{
    height: 84px;
}
.daily-condition-text{
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
}
.daily-temp{
    color: #fff;
    display: flex;
    font-size: 14px;
    justify-content: center;
}
.minmax-wrapper{
    display: flex;
}
.daily-maxtemp, .daily-mintemp{
    padding: 0px 12px 0px 12px;
    margin: 12px 0px 12px 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 0px 1px 0px 0px;
}
.daily-mintemp{
    border-width: 0px;
}
.daily-maxtemp-value, .daily-mintemp-value{
    font-size: 28px;
    font-weight: 300;
}
.daily-unit{
    line-height: 30px;
    padding-left: 4px;
}