*, *:before, *:after {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    height: auto;
}

p, h4{
    line-height: 20px;
}

.tourNav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .1);
    z-index: 1;
}

.tourHeader{
    display: flex;
    width: 100%;
    height: 52px;
}

.tourHeaderButton{
    display: flex;
    padding: 12px;
}

.tourHeaderButton img{
    width: 28px;
}

.tourDownloadButton{
    display: flex;
    width: 28px;
    padding: 12px;
}

.tourHeaderTitle{
    font-size: 20px;
    width: 100%;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 12px 12px 0px;
}

.tourTabs{
    display: flex;
    padding: 0px 16px 0px 16px;
    list-style: none;
}

.tourTabs li{
    display: flex;
    height: 44px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    line-height: 44px;
    width: 100%;
    border-bottom: 4px solid inherit;
}

.tourTabs img {
    width: 20px;
    height: 20px;
}

.tourTabs a {
    line-height: 20px;
    text-decoration: none;
    color: black;
}

.tourTabs li.active{
    border-bottom: 4px solid #FFC400;
    color: black;
    font-weight: bold;
}



.tourTabContentContainer{
    position: fixed;
    top: 100px; /* payer height */
    width: 100%;
    height: calc(100dvh - 240px); /* device height - (nav height + player height) */
    background-color: white;
    overflow: auto;
    z-index: -1;
}

.tourTabContent {
    display: none;
}

.tourTabContent.active {
    display: flex;
}

#tourChapters{
    flex-wrap: wrap;
    list-style: none;
    gap: 16px;
    padding: 16px;
}

.tourChaptersCard{
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.tourChaptersCardGradient{
    position: absolute;
    width: 100%;
    bottom: 0;
    aspect-ratio: 16/6;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 25%, 75%, rgba(0,0,0,1)); 
}

.tourChaptersCardLabel{
    display: flex;
    width: calc(100% - 32px);
    gap: 16px;
    position: absolute;
    bottom: 0;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.tourChaptersCardLabel img{
    width: 40px;
    height: 40px;
}

.tourChaptersCardLabel h4{

    color: white;
    display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}


#tourMap{
    height: inherit;
    background-color: white;
}

#tourScript{
    flex-wrap: wrap;
    list-style: none;
    gap: 16px;
    padding: 16px;

}

.tourScriptCard{
    width: 100%;
    background-color: white;
    /* border-radius: 8px; */
    padding: 16px;
}

.tourPlayer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    height: 140px;
    background-color: #FFC400;
    /* box-shadow: 0px -8px 16px rgba(0, 0, 0, .1); */
    z-index: 1;
    padding: 0px 16px 0px 16px;
}

#tourChapterTitle{
    width: 100%;
    padding: 12px 0px 4px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styling the overall slider */
#tourProgressSlider {
    -webkit-appearance: none; /* Remove default styles */
    width: 100%;
    height: 4px; /* Height of the progress bar */
    background: white; /* The unplayed portion */
    outline: none; /* Remove default outline */
    border-radius: 2px; /* Slight rounding of the edges */
    position: relative;
    margin: 8px 0; /* Space around the slider */
    
}

/* Time-passed bar */
#tourProgressSlider::-webkit-slider-runnable-track {
    background: white; /* The unplayed portion */
    height: 4px;
    border-radius: 2px;
    position: relative;
}

/* Passed time (Played portion) */
#tourProgressSlider::before {
    content: '';
    height: 4px;
    width: var(--progress); /* Use the CSS variable to control width */
    background: black; /* Time passed */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 1;
}

/* Dot (Slider knob) */
#tourProgressSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles */
    width: 12px; /* Size of the knob */
    height: 12px; 
    background-color: black; /* The knob color */
    border-radius: 50%; /* Make it a circle */
    cursor: pointer; /* Pointer on hover */
    position: relative;
    top: -4px; /* Move the knob down by 4px to center it */
    z-index: 2; /* Ensure it's on top of the track */

}

/* Handle appearance for Firefox */
#tourProgressSlider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    top: -4px; /* Centering the knob for Firefox */
}

#tourProgressSlider::-moz-range-track {
    background: white;
    height: 4px;
    border-radius: 2px;
    position: relative;
}

#tourProgressSlider::-moz-range-progress {
    background: black;
    height: 4px;
    border-radius: 2px;
}

.tourTimeInfo{
    display: flex;
    width: 100%;
    height: 16px;
    justify-content: space-between;
}

.tourTimeInfo span{
    font-size: 12px;
    line-height: 16px;
}

.tourControls{
    display: flex;
    gap: 8px;
    width: 100%;
    height: 48px;
    justify-content: center;
}

#tourPlayPauseButton{
    margin: 0px 4px 0px 4px;
}



