/* Global Styles */
*, *:before, *:after {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

p, h4 {
    line-height: 20px;
}

/* Tour Container */
.tourContainer {
    height: 100dvh;
    max-width: 1280px;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: white;
}

/* Navigation Bar */
.tourNav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

/* Header */
.tourHeader {
    display: flex;
    position: relative;
    width: 100%;
    height: 52px;
}

.tourHeaderButton, .tourDownloadButton {
    display: flex;
    padding: 12px;
}

.tourHeaderButton img, .tourDownloadButton img {
    width: 28px;
}

.tourHeaderTitle {
    font-size: 20px;
    width: 100%;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 12px 12px 0;
}

/* Download Menu */

#tourDownload {
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 2;
}

#tourDownload.hidden {
    display: none;
}

.tourDownloadMenu {
    position: absolute;
    color: white;
    top: 0px;
    right: 0px;
    margin: 16px;
    list-style: none;
    background-color: black;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    padding: 8px 24px;
    border-radius: 8px;
}

.tourDownloadMenu li {
    line-height: 48px;
}

/* Tabs */
.tourTabs {
    display: flex;
    padding: 0 16px;
    list-style: none;
}

.tourTabs li {
    display: flex;
    height: 44px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    line-height: 44px;
    width: 100%;
    border-bottom: 4px solid inherit;
}

.tourTabs li.active {
    border-bottom: 4px solid #FFCC00;
    color: black;
    font-weight: bold;
}

.tourTabs img {
    width: 20px;
    height: 20px;
}

.tourTabs a {
    line-height: 20px;
    text-decoration: none;
    color: black;
}

/* Tab Content */
.tourTabContentContainer {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100dvh - 240px);
    overflow: auto;
}

.tourTabContent {
    display: none;
}

.tourTabContent.active {
    display: flex;
}

/* Chapter Cards */
#tourChaptersList {
    flex-wrap: wrap;
    list-style: none;
    gap: 16px;
    padding: 16px;
}

.tourChaptersCard {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;

}

.tourChaptersCardGradient {
    position: absolute;
    width: 100%;
    bottom: 0;
    aspect-ratio: 16/6;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 25%, 75%, rgba(0,0,0,1));
}

.tourChaptersCardLabel {
    display: flex;
    width: calc(100% - 32px);
    gap: 16px;
    position: absolute;
    bottom: 0;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.tourChaptersCardLabel img {
    width: 40px;
    height: 40px;
}

.tourChaptersCardLabel h4 {
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Map */
#tourMap {
    height: inherit;
}

/* Script Cards */
#tourScript {
    padding: 32px 32px 12px 32px;
}

/* Player */
.tourPlayer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 32px);
    height: 140px;
    background-color: #FFCC00;
    z-index: 1;
    padding: 0 16px;
}

#tourChapterTitle {
    width: 100%;
    padding: 12px 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Progress Slider */
#tourProgressSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: white;
    outline: none;
    border-radius: 2px;
    position: relative;
    margin: 8px 0;
}

#tourProgressSlider::-webkit-slider-runnable-track {
    background: white;
    height: 4px;
    border-radius: 2px;
}

#tourProgressSlider::before {
    content: '';
    height: 4px;
    width: var(--progress) ;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    z-index: 1;
}

/* Slider Thumb (Knob) */
#tourProgressSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: -4px;
    z-index: 2;

}


#tourProgressSlider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    top: -4px;
}

#tourProgressSlider::-moz-range-track {
    background: white;
    height: 4px;
    border-radius: 2px;
}

#tourProgressSlider::-moz-range-progress {
    background: black;
    height: 4px;
    border-radius: 2px;
}

/* Time Information */
.tourTimeInfo {
    display: flex;
    width: 100%;
    height: 16px;
    justify-content: space-between;
}

.tourTimeInfo span {
    font-size: 14px;
    line-height: 16px;
}

/* Playback Controls */
.tourControls {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 48px;
    justify-content: center;
}

#tourPlayPauseButton {
    margin: 0 4px;
}

/* Media Queries */
@media only screen and (min-width: 640px) {
    .tourChaptersCard {
        width: calc(50% - 8px);
    }
}

