* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFD700;
}

button {
  width: 100%;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  border-radius: 4px;
  color: #4a4a4a;
  background-color: #FFD700;
  border: 2px solid #4a4a4a;
}

button:hover {
  color: #FFD700;
  background-color: #4a4a4a;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #4a4a4a;
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}

span {
  font-weight: 300;
}

.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.animate {
  fill:none;
  stroke: #4a4a4a;
  stroke-width:8;
  stroke-linecap:round;
}

@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}
